@import "ui-variables";
@import "constants";
@import "media";
@import "commons";

.atom-video {
  background-color: @bg-main;
  display: flex;
  min-height: 200px;
  border-bottom: 1px solid @base-border-color;

  .title {
    font-size: 2.5em;
    color: #29BAAD;
  }

  .main-container {
    display: flex;
    flex: 1;
    padding: 10px;
  }

  .video-container {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    justify-content:
    margin: 10px 10px 5px 10px;
    &:last-child {
      margin-right: 0;
    }
  }

  .video {
    margin: auto;
  }

  .video video {
    border-radius: 4px;
    border: 1px solid @base-border-color;
    margin-right: 10px;
    width: @width-video;
    height: @height-video;
    background-color: @bg-video;
  }

  .sidebar {
    background-color: @bg-sidebar;
    border-right: 1px solid @base-border-color;
    overflow-y: auto;

    .sidebar-header {

    }

    .sidebar-body {
      text-align: center;
    }

    .username {
      color: white;
      user-select: text !important;
    }

    .avatar {
      margin: 0 auto;
      width: 64px;
      height: 64px;
      border-radius: 50%;
      border: 1px solid @separator;
    }

  }

  .starting {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

}
